In [2]:
#import pandas and numpy

import pandas as pd
import numpy as np

## Question a

    Input:
    df = pd.DataFrame({'days': [1, 1, 2, 2, 1, 3, 4],
                   'values': [10, 10, 5, 3, -2, 4, 20]})
    Your algorithm: 
    Aggregate by days and get mean, median, max, and min values for 'values'.

    Output:
    pd.DataFrame({'days': [1, 2, 3, 4],
              'mean_values': [6, 4, 4, 20],
              'median_values': [10, 4, 4, 20],
              'max_values': [10, 5, 4, 20],
              'min_values': [-2, 3, 4, 20]})

In [4]:
df = pd.DataFrame({'days': [1, 1, 2, 2, 1, 3, 4],
               'values': [10, 10, 5, 3, -2, 4, 20]})
df.head()

   days  values
0     1      10
1     1      10
2     2       5
3     2       3
4     1      -2

In [21]:
# Algorithm 
output = df.groupby('days')['values'].agg(['mean', 'median', 'max', 'min']).reset_index()

In [22]:
output.columns = ['days','mean_values','median_values','max_values','min_values']

In [23]:
output

   days  mean_values  median_values  max_values  min_values
0     1            6             10          10          -2
1     2            4              4           5           3
2     3            4              4           4           4
3     4           20             20          20          20

## Question b    
    
    Input:
    df = pd.DataFrame({'employee': [1001, 1002, 1004, 1001, 1001, 1002, 1004, 1005, 1005],
                       'pos': [2, 2, 2, 2, 2, 2, 2, 2, 2],
                       'amount': [125, 542, 2345, 892, 100, 1234, 657, 34, 35]})

     Your algorithm:
     Select the top 2 employees with the max difference between the lowest amount and the highest amount for each employee.
   
     Output:
        pd.DataFrame({'employee': [1004, 1001],
              'pos': [2, 2],
              'amount_diff': [1688, 792]})

In [24]:
df = pd.DataFrame({'employee': [1001, 1002, 1004, 1001, 1001, 1002, 1004, 1005, 1005],
                   'pos': [2, 2, 2, 2, 2, 2, 2, 2, 2],
                   'amount': [125, 542, 2345, 892, 100, 1234, 657, 34, 35]})

In [25]:
df.head()

   employee  pos  amount
0      1001    2     125
1      1002    2     542
2      1004    2    2345
3      1001    2     892
4      1001    2     100

In [72]:
output_b = df.groupby(['employee','pos'])['amount'].agg(['max', 'min']).reset_index()
output_b['amount_diff'] = output_b['max'] - output_b['min']
output_b = output_b.sort_values('amount_diff',ascending = False)[['employee','pos','amount_diff']][:2]
output_b

   employee  pos  amount_diff
2      1004    2         1688
0      1001    2          792